## AUTO-DETECT
##   Handle line endings automatically for files detected as
##   text and leave all files detected as binary untouched.
##   This will handle all files NOT defined below.
*   text=auto eol=lf

# Text
*.conf
*.conf.dist
*.txt
*.md
*.cmake

# Bash
*.sh text


# SQL
*.sql

# C++
*.c text
*.cc text
*.cxx text
*.cpp text
*.c++ text
*.hpp text
*.h text
*.h++ text
*.hh text


# Graphics
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
