[worldserver]

#
#   Detailed Logging Stat Configurations
#
#   enabled:    This enables individual parts of the logging system
#   dumpSize:   How many lines of information are cached before being written to the log file.
#               For smaller servers this can be left as a low number, but for larger servers this
#               could cause slowdown due to constant disk writes.
#

KillDetailedLogging.enabled = true
KillDetailedLogging.dumpSize = 10

DeathDetailedLogging.enabled = true
DeathetailedLogging.dumpSize = 10

ZoneAreaDetailedLogging.enabled = true
ZoneAreaDetailedLogging.dumpSize = 10
