[worldserver]

#
#   PlayerAnnounce
#       Description: This will show the console on what players are logged in
#       Default: 1
#       Value:
#           1 (Enabled)
#           0 (Disabled)
#


PlayerAnnounce = 1
