[worldserver]

#
#  AzerothCore Quick Teleport System
#
#  The home and arena locations are searched for in the game_tele table in the world
#  database.  Check to make sure your location exists before adding it to this file.
#

QuickTeleport.enabled=true
QuickTeleport.homeLocation=Dalaran
QuickTeleport.arenaLocation=TheGreatArena
