[worldserver]

###################################################################################################
#   SOLO 3v3 ARENA
#
#   Solo.3v3.Enable
#       Description: Enable system
#       Default: 1
#

Solo.3v3.Enable = 1
Solo.3v3.MinLevel = 80
Solo.3v3.Cost = 45
Solo.3v3.ArenaPointsMulti = 0.8
Solo.3v3.FilterTalents = 0
Solo.3v3.VendorRating = 1
Arena.3v3.BlockForbiddenTalents = 0
Arena.CheckEquipAndTalents = 0
Solo.3v3.CastDeserterOnAfk = 1
Solo.3v3.CastDeserterOnLeave = 0
Solo.3v3.StopGameIncomplete = 0
