[worldserver]

###################################################################################################
#   SOLO 3v3 ARENA
#
#   Solo.3v3.Enable
#       Description: Enable system
#       Default: 1
#

Solo.3v3.Enable = 1


#
#   Solo.3v3.EnableCommand
#       Description: If enabled, it allows to run .qsolo rated/unrated
#       Default: 1
#       Value:   1 - (true)
#                0 - (false)

Solo.3v3.EnableCommand = 1

Solo.3v3.EnableTestingCommand = 1


Solo.3v3.FilterTalents = 0
Arena.CheckEquipAndTalents = 0
Arena.3v3.BlockForbiddenTalents = 0
Solo.3v3.CastDeserterOnAfk = 1
Solo.3v3.CastDeserterOnLeave = 1
Solo.3v3.StopGameIncomplete = 1
Solo.3v3.RatingPenalty.LeaveDuringMatch = 24
Solo.3v3.RatingPenalty.LeaveBeforeMatchStart = 50

#
#    Solo.3v3.MinLevel
#        Description: Min level to create an arena team
#        Default:     80

Solo.3v3.MinLevel = 80

#
#    Solo.3v3.Cost
#        Description: Costs for create an arena team
#        Default:     100000 - (10 gold)

Solo.3v3.Cost = 100000

#
#    Solo.3v3.ArenaPointsMulti
#        Description: An 5v5 arena team with 1500 rating will gain 344 points per week (blizzlike).
#                      3v3 with same rating will gain 302 points (5v5points * 0.88)
#                      2v2 will gain 261 points (5v5points * 0.76)
#                      and 3v3soloQ will gain 167 points (5v5points * 0.64)
#                      With this multiplier you can modify the arenapoints for 3v3soloQ.
#        Default:     0.8

Solo.3v3.ArenaPointsMulti = 0.8


#
#    Solo.3v3.ArenaPointsMinLevel
#        Description: minlevel to get the arena points
#        Default:     70

Solo.3v3.ArenaPointsMinLevel = 70


#
#    Solo.3v3.VendorRating
#        Description: If true, 3v3soloQ rating will use to calculate highest personal-rating (extended costs).
#                      Note: The vendor-item will show as not buyable (red), but players can buy it, if enabled and rating is high enough.
#        Default:     0 - (false)
#                     1 - (true)

Solo.3v3.VendorRating = 0

Solo.3v3.ShowMessageOnLogin = 0
