#

[worldserver]

##########################################
# Npc Talent Template module configuration
##########################################
#
#    NpcTalentTemplate.EnableResetTalents
#        Description: Enables Gossip Option to reset talents
#        Default:     1 - Enabled
#                     0 - Disabled
#

NpcTalentTemplate.EnableResetTalents = 1

#
#    NpcTalentTemplate.EnableRemoveAllGlyphs
#        Description: Enables Gossip Option to Remove All Glyphs
#        Default:     1 - Enabled
#                     0 - Disabled
#

NpcTalentTemplate.EnableRemoveAllGlyphs = 1

#
#    NpcTalentTemplate.EnableDestroyEquippedGear
#        Description: Enables Gossip Option to Destroy Equipped Gear
#        Default:     1 - Enabled
#                     0 - Disabled
#

NpcTalentTemplate.EnableDestroyEquippedGear = 1

#
#    NpcTalentTemplate.AllianceMount
#    NpcTalentTemplate.HordeMount
#        Description:
#        Default:     51412 - BigBattleBear
#                     43688 - AmaniWarBear
#                     19902 - SwiftZulianTiger
#                     0 - Disable
#

NpcTalentTemplate.AllianceMount = 51412
NpcTalentTemplate.HordeMount = 51412
